body{

margin:0;
font-family:Arial;
background:#0c1b2b;
color:white;

}

.header{

text-align:center;
font-size:40px;
padding:20px;
background:#142c44;
letter-spacing:3px;

}

.warning{

background:#8b0000;
text-align:center;
padding:12px;
font-weight:bold;
font-size:20px;

}

.main-grid{

display:grid;
grid-template-columns: 400px 1fr 400px;
gap:20px;
padding:20px;

}

.panel{

background:#142c44;
padding:20px;
border-radius:12px;
box-shadow:0 0 10px #000;

}

.temp{

font-size:90px;
text-align:center;
margin:20px 0;

}

.stats{

display:flex;
justify-content:space-between;
text-align:center;

}

.forecast{

display:flex;
justify-content:space-between;
margin-top:15px;
text-align:center;

}

.radar img{

width:100%;
border-radius:10px;

}

.footer{

position:fixed;
bottom:0;
width:100%;
background:#142c44;
padding:10px;
text-align:center;

}
