body{
    margin:0;
    background: linear-gradient(to bottom,#0f1a26,#1a2035);
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

#dashboard{
    display:block;
    width:100vw;
    height:100vh;
}
